.logo {
    height: 80px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #F1EFE7;
    width: 100%;
}

.links a {
    text-decoration: none;
    color: #FF3131;
    font-family: "Libre Baskerville", serif;
    font-style: normal;
    font-size: x-large;
}

.links {
    display: flex;
    gap: 20px;
}

.outlet{
    padding-top: 150px;
    display: flex;
    justify-content: center;
}